<h1>The list of books are as follows</h1>
<div>
    <table border=1>
        <thead>
            <th>Book ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Actions</th>
        </thead>
        <tbody >
            <tr *ngFor="let book of books">
                <td>{{book.id}}</td>
                <td>{{book.title}}</td>
                <td>{{book.author}}</td>
                <td><button (click)="updateBook(book.id)">Update</button></td>
            </tr>
        </tbody>
    </table>
</div>


<h5>Add New Books</h5>

<button>Click to add Book</button>
